#faq {
    background: var(--dark-purple);
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

.faq-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.faq-image {
    width: 50%;
}

.faq-details {
    width: 47%;
}

.faq-header h2 {
    margin-bottom: 1.8rem;
    font-size: 2rem;
}

.faq-header h2 span {
    color: var(--light-purple);
}

.faq-header p {
    margin-bottom: 1.5rem;
    max-width: 400px;
    font-size: 1.1rem;
}

.faq-header p span {
    font-weight: 700;
    font-size: 1.1rem;
}

.question {
    border-bottom: 1px solid var(--light-purple);
    margin-bottom: 2rem;
}

.question h3 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question span:nth-child(2) {
    color: var(--light-purple);
    cursor: pointer;
}

.question p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}