@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --dark-purple: #150E28;
  --purple: #903AFF;
  --light-purple: #D434FE;
  --green: #80FF00;

/* mntserat */

}

.btn-gradient {
  @apply rounded-[0.25rem] pink-bg text-white flex items-center justify-center;
}

.pink-bg {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.pink-bg:hover {
  background: linear-gradient(270deg, #D434FE 0%, #903AFF 56.42%, #FE34B9 99.99%,  #FF26B9 100%);
}

.gradient-line {
  border: 1px solid #903AFF;
}

.register .form-col label {
  @apply text-[0.8125rem] md:text-[0.875rem] leading-normal font-normal inline-block mb-[0.31rem] md:mb-[0.69rem];
}

.register .form-col input,
.register select {
  @apply bg-transparent border outline-none rounded-[0.25rem] w-full px-[1.06rem] py-[0.69rem] mb-[1.12rem] md:mb-[1.81rem];
}

.form-row {
  @apply lg:flex gap-[2rem];
}

.form-col {
  @apply lg:w-1/2;
}