@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Inter:wght@400;500;700&family=Unica+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }

  h1,
  h2 {
    @apply font-Clash;
  }
}

.pink-bg {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.pink-bg:hover {
  background: linear-gradient(270deg, #D434FE 0%, #903AFF 56.42%, #FE34B9 99.99%,  #FF26B9 100%);
}

.btn-gradient {
  @apply rounded-[0.25rem] pink-bg text-white flex items-center justify-center;
}

.gradient-line {
  border: 1px solid #903AFF;
}

.register .form-col label {
  @apply text-[0.8125rem] md:text-[0.875rem] leading-normal font-normal inline-block mb-[0.31rem] md:mb-[0.69rem];
}

.register .form-col input,
.register select {
  @apply bg-transparent border outline-none rounded-[0.25rem] w-full px-[1.06rem] py-[0.69rem] mb-[1.12rem] md:mb-[1.81rem];
}

.form-row {
  @apply lg:flex gap-[2rem];
}

.form-col {
  @apply lg:w-1/2;
}

.timeline-details {
  @apply text-[0.75rem] md:text-base leading-[170.9%] max-w-[30.3125rem];
}

.timeline-right {
  @apply lg:w-full max-w-[30.3125rem];
}

.timeline-left {
  @apply lg:text-right lg:w-full max-w-[30.3125rem];
}

.countdown {
  @apply text-[3rem] md:text-[4rem] leading-[133%] font-Unica;
}

.countdown-indicator {
  @apply text-[0.875rem] leading-[133%] font-Unica;
}