#criteria {
    background: var(--dark-purple);
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

.criteria-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.criteria-image {
    width: 50%;
}

.criteria-details {
    width: 47%;
}

.criteria-details h2 {
    margin-bottom: 1.8rem;
    font-size: 2rem;
}

.criteria-details h2 span {
    color: var(--light-purple);
}

.criteria-details p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.criteria-details p span {
    /* color: var(--light-purple); */
    color: #f358a6;
  
}

.criteria-details .btn-gradient {
    width: 170px;
    display: block;
    margin-bottom: 4rem;
    text-align: center;
}